.pg-viewer-wrapper{
    height: 40vh;
    width:100%;
    overflow-y: visible !important;
    /* width: 66vw !important; */
}

.photo-viewer-container{
    display: flex !important;
}

.pdf-canvas{
    display: flex !important;
    justify-content: center !important;
}

